<template>
  <div class="bg-light">

    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h2>Generovat meme </h2>

      <div class="row">
        <form class="col-md-12" @submit="fetch_meme">

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="top_text">Horní text</label>
              <input type="text" class="form-control" id="top_text" placeholder="Yo mama is so .." v-model="top_text">
            </div>

            <div class="form-group col-md-4">
              <label for="bottom_text">Dolní text</label>
              <input type="text" class="form-control" id="bottom_text" placeholder="That I ..." v-model="bottom_text">
            </div>

            <div class="form-group col-md-2">
              <label for="image">Obrázek</label>
              <select id="image" class="form-control" v-model="image" required>
                <option v-for="type in settings.images" v-bind:key="type.value" v-bind:value="type.value" >
                  {{ type.name }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-2">
              <button type="submit" class="btn btn-primary" style="margin-top: 30px ; width: 100%">Zasmát se </button>

            </div>


          </div>



        </form>


      </div>

      <div class="row">

          <img v-bind:src="meme" class="rounded mx-auto d-block col-md-8">

      </div>

    </div>

</div>

</template>

<script>

import 'bootstrap';
import meme_bot_api from "@/api/meme_bot_api";

export default {
  name: 'App',
  data: function () {
    return {
      image: "",
      top_text: "",
      bottom_text: "",
      meme: "",
      settings: meme_bot_api,
    }
  },
  methods: {
    fetch_meme: function (e) {
      e.preventDefault()

      console.log(this.top_text)

      this.meme = process.env.VUE_APP_MEME_BOT_API + `/generate?top_text=${this.top_text}&bottom_text=${this.bottom_text}&image=${this.image}`
    }
  }
}
</script>

<style>
html body{
  background-color: #f8f9fa;
}
</style>
