<template>
  <div class="bg-light">

   <div class="p-3 bg-white rounded shadow-sm">
      <h2>Náhodné meme </h2>
     <div class="row">
       <form class="col-md-12"  @submit="fetch_meme">

         <div class="form-row">
           <div class="form-group col-md-4">
             <label for="type">Typ</label>
             <select id="type" class="form-control" v-model="type" required>
               <option v-for="type in settings.types" v-bind:key="type.value" v-bind:value="type.value">
                 {{ type.name }}
               </option>
             </select>
           </div>

           <div class="form-group col-md-4">
             <label for="category">Téma</label>
             <select id="category" class="form-control" v-model="topic" required>
               <option v-for="type in settings.topics" v-bind:key="type.value" v-bind:value="type.value">
                 {{ type.name }}
               </option>
             </select>
           </div>

           <div class="form-group col-md-2">
             <label for="image">Obrázek </label>
             <select id="image" class="form-control" v-model="image" required>
               <option v-for="type in settings.images" v-bind:key="type.value" v-bind:value="type.value" >
                 {{ type.name }}
               </option>
             </select>
           </div>

           <div class="form-group col-md-2">
             <button type="submit" class="btn btn-primary" style="margin-top: 30px ; width: 100%">Zasmát se</button>
           </div>

         </div>
       </form>

       <div class="col-md-12">
         <img v-bind:src="meme" class="rounded mx-auto d-block col-md-8">
       </div>
     </div>
    </div>

</div>

</template>

<script>

import 'bootstrap';
import meme_bot_api from "@/api/meme_bot_api";

export default {
  name: 'RandomMeme',
  data: function () {
    return {
      image: "",
      topic: "",
      type: "",
      meme: "",
      settings: meme_bot_api,
    }
  },

  methods: {
    fetch_meme: function (e) {
      e.preventDefault()

      console.log(this.topic)

      this.meme = process.env.VUE_APP_MEME_BOT_API + `/random?type=${this.type}&topic=${this.topic}&image=${this.image}&random=${Math.floor(Math.random() * 10)}`
    }
  }
}
</script>

<style>
html body{
  background-color: #f8f9fa;
}
</style>
