<template>
  <div class="bg-light">

  <main class="container">

    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <div class="jumbotron">
        <h1 class="display-4">MemeBot</h1>
        <hr class="my-4">
        <p>Propojili jsme pro Vás MEME generator s databází vtipů. Už vtipy nemusíte číst, stačí vidět MEME. </p>
        <p class="lead">
          <router-link to="/random" class="btn btn-primary btn-lg">Náhodné MEME</router-link>

          <router-link to="/new" class="btn btn-primary btn-lg" style="margin-left: 50px">Vlastní MEME</router-link>
        </p>

      </div>
    </div>

    <router-view></router-view>

  </main>

</div>

</template>

<script>

import 'bootstrap';

export default {
  name: 'App',
  components: {

  }
}
</script>

<style>
html body{
  background-color: #f8f9fa;
}
</style>
